<ion-view class="activity">
    <ion-nav-bar class="group">
        <ion-nav-buttons side="left">
            <span class="icon ion-ios-arrow-back" ng-click="back()"></span>
            <div class="title title-center header-item" ng-click="gotoHome()">{{patientProfile.name}}</div>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content>

        <!-- <h3>Work in progress...<br/>Check out setActivityGoals for time being from dropdown.</h3> -->

        <div class="sortedBySmall text-center">
            <select ng-options="item.id as item.title for item in sortedByList" ng-model="sortedBy" ng-change="gotoAction(sortedBy)"></select>
        </div>
        <section class="patientProfile">
            <div class="col-xs-3">
                <img src="{{patientProfile.url}}" alt="img/profile_icon.png">
            </div>
            <div class="col-xs-7">
                <ul>
                    <li><strong>{{patientProfile.name}}</strong></li>
                    <li>{{patientProfile.age}}</li>
                    <li class="text-capitalize">{{patientProfile.gender}}</li>
                    <li>{{patientProfile.email}}</li>
                </ul>
            </div>
            <div class="col-xs-2">
                <svg>
                    <g id="hp">
                        <circle cx="50" cy="35" r="30"></circle>
                        <text x="53" y="36" text-anchor="middle">120
                            <tspan x="53" y="56" text-anchor="middle">HP</tspan>
                        </text>
                    </g>
                </svg>
                <!-- <div class="hp"><span>120<br/>hp</span></div> -->
            </div>
        </section>
        <section class="main">
            <ul class="selectionTab group">
                <li ng-class="{'active': selectedView == 'day'}" ng-click="changeView(1)">Day</li>
                <li ng-class="{'active': selectedView == 'week'}" ng-click="changeView(2)">Week</li>
                <li ng-class="{'active': selectedView == 'month'}" ng-click="changeView(3)">Month</li>
            </ul>

            <div class="group marginT30 totalActivity">
                <div class="col-xs-6">
                    <highchart id="chart1" config="chartConfig"></highchart>

                    <!--<svg style="margin-left: 22.33%;">
						<g>
							
							
							<circle class="circle-bg" cx="80" cy="80" r="70"></circle>
							<circle cx="80" cy="80" r="60"></circle>

						</g>
					</svg>-->
                </div>
                <div class="col-xs-6">
                    <highchart id="chart2" config="chartConfig1"></highchart>

                    <!--<svg style="margin-left: 5.33%;">
                        <g>
                            <circle class="circle-bg" cx="80" cy="80" r="60"></circle>
                            <circle cx="80" cy="80" r="50"></circle>
                        </g>
                    </svg>-->
                </div>

            </div>
            <br>
            <div class="group marginT30 totalActivity">
                <div class="col-xs-4">
                    <highchart id="chart3" config="chartConfig2"></highchart>

                    <!--<svg>
                        <g>
                            <circle class="circle-bg" cx="75" cy="75" r="60"></circle>
                            <circle cx="75" cy="75" r="50"></circle>

                        </g>
                    </svg>-->
                </div>
                <div class="col-xs-4">
                <highchart id="chart4" config="chartConfig3"></highchart>

                    <!--<svg>
                        <g>
                            <circle class="circle-bg" cx="75" cy="75" r="60"></circle>
                            <circle cx="75" cy="75" r="50"></circle>

                        </g>
                    </svg>-->
                </div>
                <div class="col-xs-4">
                 <highchart id="chart5" config="chartConfig4"></highchart>

                    <!--<svg>
                        <g>
                            <circle class="circle-bg" cx="75" cy="75" r="60"></circle>
                            <circle cx="75" cy="75" r="50"></circle>

                        </g>
                    </svg>-->
                </div>
            </div>

        </section>
    </ion-content>
</ion-view>