<ion-view class="addPatient" view-title="Add Patient">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<span class="cross icon ion-close" ng-click="gotoHome()"></span>

		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="main">
			<form ng-submit="addPatient(data)">
				<div class="form-group">
					<label>Full Name</label>
					<input type="text" placeholder="Your Name" class="formfields" ng-model="data.patientName">
				</div>
				<div class="form-group">
					<label>Email Address</label>
					<input type="email" placeholder="test@emailaddress.com" class="formfields" ng-model="data.email" ng-blur="checkEmail()">
					<!-- <span class="error">Email is not valid</span> -->
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="text" placeholder="password" class="formfields" ng-model="data.password">
					<!-- <span class="error">Email is not valid</span> -->
				</div>
				<div class="form-group">
					<label>Enter Monthly Subscription Amount</label>
					<div class="input-group group">
						<i class="icon ion-social-usd input-group-btn"></i>
						<select class="pull-left formfields input-group-field" >
						<option value="100" selected>100 - Gold</option>
						<option value="50" >50 - Silver</option>
						<option value="25" >25 - Bronze</option>

						</select>
					</div>
				</div>
				<button type="submit" class="btn-yellow">
		  			<h1 class="title">Submit</h1>		  		
				</button>
			</form>
		</div>
		
	</ion-content>
</ion-view>