<ion-view class="dashboardView" view-title="Patients" name="dashboard-view">
  <ion-nav-bar class="group">
    <ion-nav-buttons side="left">
      <div class="circle-add-patient" ui-sref="addPatient">
        <span>
          <i class="button icon ion-android-add addPatient" aria-hidden="true"></i>
        </span>        
      </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a menu-toggle="right" class="icon ion-navicon btn-navicon"></a>
    </ion-nav-buttons>

  </ion-nav-bar>
 
    
  <ion-content>
    <div class="search">
      <input type="text" placeholder="Search" ng-model="searchPatient" />
      <span class="icon ion-ios-search-strong pull-right"></span>
    </div>
    <div class="sortedBy text-center">
      <p><small>Sorted By:</small></p>
     
      <select ng-options="item.id as item.title for item in sortedByList" ng-model="sortedBy" ng-change="sortPatients(sortedBy)"></select>
       
    </div>
    <ul class="patientList">
      <li ng-repeat="item in filteredList = (patientList | filter: searchPatient | orderBy: sortType:true)" ui-sref="activity(
        {
          uid: item.uid,
          name: item.fname + ' ' +  item.lname,
          age: 25,
          gender: 'female',
          email: 'lisawashington@gmail.com',
          profile_url: item.image_uri,
          low: item.low,
          medium: item.medium,
          high: item.high
        }
        )">
        <div class="group">
          <div class="col-xs-1">
            <span class="activityDot" ng-show="isActiveToday(item.vitals_entered) || item.unread_messages > 0"></span>
            <span class="paddedEle" ng-hide="isActiveToday(item.vitals_entered) || item.unread_messages > 0"></span>
          </div>
          <div class="col-xs-5">{{item.fname + ' ' +  item.lname}}</div>
          <div class="col-xs-4">
            <meter value="{{item.emotion}}" min="0" max="100" low="25" high="75" optimum="80"></meter>
          </div>
          <div class="col-xs-2 text-center">
            <div class="unread">
              <span class="pos-rel icon ion-ios-email-outline" ng-class="{'shiftLeft': item.unread_messages == 0}"></span>
              <div class="unreadCount" ng-if="item.unread_messages > 0">
                <span>{{item.unread_messages}}</span>
              </div>
            </div>
        </div>
      </li>
    </ul>
    <p ng-hide="filteredList.length" class="noResult text-center">Nothing here!</p> 
  </ion-content>
</ion-view>
  

  