
  <ion-view > 
    <ion-nav-bar class="group">
        <ion-nav-buttons side="left">
            <span class="icon ion-ios-arrow-back" ng-click="back()"></span>
            <div class="title title-center header-item" ng-click="gotoHome()">{{patientProfile.name}}</div>
        </ion-nav-buttons>
    </ion-nav-bar>
 
    <div class="loader-center" ng-if="!doneLoading">
            <div class="loader">
              <i class="icon ion-loading-c"></i>
            </div>
    </div>
      
    <ion-content  delegate-handle="userMessageScroll">
              <div ng-repeat="message in messages" class="message-wrapper"
                  on-hold="onMessageHold($event, $index, message)">
      
                  <div ng-if="user._id !== message.uid1">
                      
                     <span class="dateposted">{{message.timestamp * 1000 |  date:'MMM d, y h:mm a'}}</span>
                     
                        <div>
                             <img ng-click="viewProfile(message)" class="profile-pic left" 
                          ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />
                            <span class="username">{{user.username}}</span> 
                        </div>
      
                      <div class="chat-bubble left">
      
                          <div class="message" ng-bind-html="message.message | nl2br" autolinker>
                          </div>
                      </div>
                  </div>
      
                  <div ng-if="user._id === message.uid1">
                    
                     <span class="dateposted">{{message.timestamp * 1000 |  date:'EEE MMM d, y h:mm a'}}</span>
                         <div>
                             <img ng-click="viewProfile(message)" class="profile-pic right" 
                          ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)" />
                            <span class="username_right">{{toUser.username}}</span> 
                        </div>
      
                    
                      <div class="chat-bubble right">
                          <div class="message" ng-bind-html="message.message | nl2br " autolinker>
                          </div>
                      </div>
                    
                  </div>
      
                  <div class="cf"></div>
      
              </div>
          </ion-content>
      
       <section class="main">
    <div class="form-wrap" >
          <form name="sendMessageForm" ng-submit="sendMessage()" novalidate>
               
              <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
                  <label class="item-input-wrapper">
                      <input ng-model="input.message" value="" placeholder="Send {{user.username}} a message..." required minlength="1" maxlength="1500" msd-elastic></input>

                  </label>
                  <!--<div class="footer-btn-wrap">
                    <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!input.message || input.message === ''">
                    </button>
                  </div>-->
                   <!--<div class="chat-btn" ng-click="sendMessage()" ng-disabled="!input.message || input.message === ''">
		  		    Send		  		
			        </div>-->
                     <button class="chat-btn" type="submit"
                        ng-disabled="!input.message || input.message === ''">
                         Send
                    </button>
              </ion-footer-bar>
           </form>
           	</div>
       </section>
      </ion-view>


<!--<ion-view class="activity">
    <ion-nav-bar class="group">
        <ion-nav-buttons side="left">
            <span class="icon ion-ios-arrow-back" ng-click="back()"></span>
            <div class="title title-center header-item" ng-click="gotoHome()">{{patientProfile.name}}</div>
        </ion-nav-buttons>

    </ion-nav-bar>
    

      <!--<ion-view class="login-view" hide-nav-bar="true" view-title="Messages">-->
          <!--<ion-content has-bouncing="true" class="has-header has-footer" 
              delegate-handle="userMessageScroll">
            
              <div ng-repeat="message in messages" class="message-wrapper"
                  on-hold="onMessageHold($event, $index, message)">
      
                  <div ng-if="user._id !== message.uid2">
                      
                    <img ng-click="viewProfile(message)" class="profile-pic left" 
                          ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)" />
      
                      <div class="chat-bubble left">
      
                          <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                          </div>
      
                          <div class="message-detail">
                              <span ng-click="viewProfile(message)" 
                                  class="bold">{{toUser.username}}</span>,
                              <span am-time-ago="message.date"></span>
                          </div>
      
                      </div>
                  </div>
      
                  <div ng-if="user._id === message.uid2">
                    
                       <img ng-click="viewProfile(message)" class="profile-pic right" 
                          ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />
                    
                      <div class="chat-bubble right">
      
                          <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                          </div>
      
                          <div class="message-detail">
                              <span ng-click="viewProfile(message)" 
                                  class="bold">{{user.username}}</span>, 
                              <span am-time-ago="message.date"></span>
                          </div>
      
                      </div>
                    
                  </div>
      
                  <div class="cf"></div>
      
              </div>
         
      <section class="main">
  			<div class="form-wrap">
		      	<div class="form-group">
		          <input class="full-width" type="text" placeholder="New Message" ng-model="input.message">
		      	</div>
	  		</div>
			<div class="btn-yellow" ng-click="sendMessage()">
		  		<h1 class="title">Send</h1>		  		
			</div>
  	</section>
      </ion-footer-bar>
	</ion-content>
</ion-view>-->-->