<ion-view view-title="{{patientProfile.name}}" class="login-view">
	<ion-nav-bar class="group">
		<ion-nav-buttons side="left">
			<span class="icon ion-ios-arrow-back" ng-click="back()"></span>
		</ion-nav-buttons>
		
	</ion-nav-bar>
<ion-content>
  <section class="main">
	      <div class="sortedBy text-center">
	      <p><small>Sorted By:</small></p>
	     
	      <select ng-options="item.id as item.title for item in sortedByList" ng-model="sortedBy" ng-change="gotoAction(sortedBy)"></select>
	       
	    </div>
        <span class="balance"><b>Balance:$99.00</b></span>
  			<div class="form-wrap" id="label1">
		      	<div class="form-group">
		          <label>Card Number</label>  
		          <input class="full-width" type="text" placeholder="Enter Value">
		      	</div>
		      	<div class="form-group">
		          <label>Card Number
		          </label>
		          <input type="text" class="full-width" placeholder="Enter Value">
		        </div>
		        <div class="form-group group">
		         	<div class="row"> 
                        <div  class = "col col-50">
            	      <label class="expiry">Expiration Date
                             <input type="text"  placeholder="DD/YY" ></label>
                      </div>
                      <div class = "col col-30">
                      <label>Zip
                           <input type="text" placeholder="00000"></label>
                      </div>
                    
                     <div class="col col-30">
                     <label>CVV
                         <input type="text"  placeholder="000"></label>
                     </div>
                     </div>
                    <!-- <div class="form-group group">
                     <div class="row">
                        <div id="texting1">          
                   
                         </div>
                    <div id="texting">
                   
                    <div id="texting">
                    
                    </div></div>
                    </div>-->
                        </div>
                
<!--				<ion-list>
    <ion-item class="item item-icon-right">
        Task 1
        <i class="icon ion-ios-heart-outline"></i>
        <i class="icon ion-ios-pulse"></i>
    </ion-item>
    <ion-item class="item item-icon-right">
        Task 2
        <i class="icon ion-checkmark-circled"></i>
        <i class="icon ion-close icon-accessory"></i>
    </ion-item>
</ion-list>-->
				
                <div class="row">
                    Amount to Charge
                         <i class="icon ion-social-usd input-group-btn"></i>
                         <input type="text" placeholder="$99.00">
                    </div>
			<button id="button1" class="button button-block btn-yellow" ng-click="showCP = !showCP">Submit</button>
                </div>
  		</section>
    </ion-content>
</ion-view>
    