<ion-view class="setActivityGoals">
	<ion-nav-bar class="group">
			
		<ion-nav-buttons side="left">
			<span class="icon ion-ios-arrow-back" ng-click="back()"></span>
			<div class="title title-center header-item" style="z-index: -200" ng-click="gotoHome()">{{patientName}}</div>
		</ion-nav-buttons>-->
		
	</ion-nav-bar>
	<ion-content>
		<div class="sortedBy text-center">
		    <!--<select ng-options="item.id as item.title for item in sortedByList" ng-model="sortedBy" ng-change="gotoAction(sortedBy)"></select> -->

<input type="button" class="itemdropdown" ng-click="showList();" value="{{title}}"/>
<ion-list ng-show="subNavList" class="ddlistitems">
  <ion-item ng-repeat="item in sortedByList" ng-click="gotoAction(item.id)">
    <h2>{{item.title}}</h2>
  </ion-item>
</ion-list>
		</div>
		<section class="main">
			<div class="dailySteps">
				<h3>Set Total Daily Steps</h3>
				<select class="customSelect" ng-options="item.id as item.steps for item in stepsList" ng-model="selectedSteps"></select>
			</div>
			<div class="stepspermin group">
				<h3>Set Steps per minute</h3>
				<p>Select steps per minute, between the ranges is moderate, anything to the left is considered light activity, anything to the right is vigorous activity</p>

			
				<div class="pos-rel rangeBar group">
					<!-- <input type="range" ng-model="stepsPerMinVal" min="0" max="300" /> -->
						<rzslider
					    rz-slider-model="slider.min"
					    rz-slider-high="slider.max"
					    rz-slider-options="slider.options"
					    rz-slider-tpl-url="./templates/rangeSlider.htm"></rzslider>
					<!-- <div class="multicolorbar group">
						<span class="lowThreshBar" ng-style="{'width': threshold.steps_low + 'px','left': 0}"></span>
						<span class="optimumBar" ng-style="{'width': optimumBarlength + 'px', 'left': threshold.steps_low  + 'px'}"></span>
						<span class="highThreshBar" ng-style="{'width': highThreshBar + 'px', 'right': 0 }"></span>
						<div class="stepsMinWrap" ng-style="{'left': lowThreshIndicator + 'px'}">
							<span class="stepsMin">{{threshold.steps_low}}</span>
						</div>
						<div class="stepsMaxWrap" ng-style="{'left': highThreshIndicator + 'px'}"><span class="stepsMax">{{threshold.steps_high}}</span></div>
					</div> -->
					
<!-- 
					<div>
						<span>Selected Value: </span>
						<span class="stepsValue">{{stepsPerMinVal}}</span>
					</div> -->
					
				</div>
			</div>
			<div class="activeMinutes group">
				<h3>Set Daily Active Minutes</h3>
				<div>
					<div class="col-xs-4">
						<span>Light</span>
						<select class="customSelect" ng-options="item.id as item.title for item in lightMins" ng-model="setActivityGoals.lightMinsSelected"></select>
					</div>
					<div class="col-xs-4">
						<span>Moderate</span>
						<select class="customSelect" ng-options="item.id as item.title for item in moderateMins" ng-model="setActivityGoals.moderateMinsSelected"></select>
					</div>
					<div class="col-xs-4">
						<span>Vigorous</span>
						<select class="customSelect" ng-options="item.id as item.title for item in vigorousMins" ng-model="setActivityGoals.vigorousMinsSelected"></select>
					</div>
				</div>
			</div>
			<div class="heartrateperhour group">
				<h3>Set heart rate per min</h3>
				<p>Select heart rate per minute, between the ranges is moderate, left of the range is light, and more than the right range is vigorous.</p>
				<div class="pos-rel rangeBar">
					<!-- <input type="range" ng-model="heartRatePerminVal" min="0" max="300" /> -->
					<rzslider
					    rz-slider-model="slider2.min"
					    rz-slider-high="slider2.max"
					    rz-slider-options="slider2.options"
					    rz-slider-tpl-url="./templates/rangeSlider.htm"></rzslider>
				<!-- 	<div class="multicolorbar group">
					 	<span class="lowThreshBar" ng-style="{'width': threshold.hr_low + 'px','left': 0}"></span>
						<span class="optimumBar" ng-style="{'width': optimumHeartBarLength + 'px', 'left': threshold.hr_low  + 'px'}"></span>
						<span class="highThreshBar" ng-style="{'width': highHeartRateBar + 'px', 'right': 0 }"></span>
						<div class="stepsMinWrap" ng-style="{'left': lowHeartRateIndicator + 'px'}">
							<span class="stepsMin">{{threshold.hr_low}}</span>
						</div>
						<div class="stepsMaxWrap" ng-style="{'left': highHeartRateIndicator + 'px'}"><span class="stepsMax">{{threshold.hr_high}}</span></div>
					</div>
					

					<div>
						<span>Selected Value: </span>
						<span class="stepsValue">{{heartRatePerminVal}}</span>
					</div>  -->
					
				</div>
				<div class="activityInstructions">
					<p>Activity Instructions</p>
					<textarea  ng-model="setActivityGoals.instructions">
						
					</textarea>
				</div>
			</div>

			<button class="button button-block btn-yellow" ng-click="setActivityGoals()">Submit</button>

			
		</section>
	</ion-content>
</ion-view>