<ion-view class="setExerciseView" view-title="{{patientData.first_name + ' ' +  patientData.last_name}}" name="set-exercise-view">
  <ion-nav-bar class="group">
    <ion-nav-buttons side="left">
        <span class="icon ion-close-round closePatient" ng-click="closePatient()"></span>        
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <span class="icon ion-ios-trash-outline deletePatient" ng-click="deletePatient()"></span>   
    </ion-nav-buttons>
  </ion-nav-bar>
 
    
  <ion-content>
    	<div class="sortedBy text-center">
		    <select ng-options="item.id as item.title for item in sortedByList" ng-model="sortedBy"></select> 
		</div>
		<section class="main">
			<div class="active group">
				<span class="pull-left exerciseName">20 Pushups</span>
				<span class=" pull-right switch-wrapper">
					<span class="pull-left">Active: <span class="onoff on">ON</span></span> 
					<div class="switch">
					  <input type="checkbox">
					  <label></label>
					</div>
					<span class="onoff off">OFF</span>  
				</span>
			</div>
			<div class="video-container">
                <iframe src="https://www.youtube.com/embed/rdzS43Pff1w" frameborder="0"></iframe>
            </div>
			<div class="exerciseSchedule">
				
			</div>
		</section>
  </ion-content>
</ion-view>
  