<ion-view class="addExercise" view-title="Add Exercise">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<span class="cross icon ion-close" ng-click="back()"></span>	
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="main">
			<div class="form-group">
				<label>Exercise Name</label>
				<input type="text" class="form-control" ng-model="addExercise.name" placeholder="Enter Name" />
			</div>

			<div class="video-container">
                <iframe src="https://www.youtube.com/embed/rdzS43Pff1w" frameborder="0"></iframe>
            </div>
            <div class="form-group marginT10">
            	<label>Comments/Instructions</label>
            	<textarea rows="7" ng-model="addExercise.comments" placeholder="Enter comments or instructions">
            		
            	</textarea>
            </div>
            <div class="form-group">
            	<label>Exercise Tags</label>
            	<input type="text" ng-model="addExercise.tags" placeholder="Enter tags separated by commas">
            </div>

            <div class="btn-yellow" ng-click="save(addExercise)">
		  		<h1 class="title">Save</h1>		  		
			</div>
		</div>
	</ion-content>
</ion-view>