.mainLogo 
{
    max-width:80%;
    padding:40px 0;
}
.balance{
    font-size: 20px;
}
#label1{
    margin-top: 15%;
}
#texting1{
    width:100%;
}
#texting{
    width:100%;
    padding-right:20px;
    padding-left: 20px;
}
#zip{
    padding-right: 20px;
    padding-left: 20px;
}
#div2{
    width:40%;
  padding-left:40px;
}

.p1{
padding-top:60px;


}

.f1{
width:80%;
margin-left: auto;
margin-right: auto;
}
.pc{


text-align: center;


}

#ficon{

padding-top:10%;
border: 5px;
border-color: white;
}

.p1{
padding-top:60px;


}

.sildrcg{
background-color:skyblue!important;


}
.labelres{
background: white !important;
color: black !important;
border: None;
}
.cont{
background-color: white !important;
}
.sliderchng{
/*    margin-left: 60%;*/
/*    margin-right: 10%;*/
background-color: white !important;
}
.f1{
width:80%;
margin-left: auto;
margin-right: auto;
}
.pc{


text-align: center;


}



.list2{
margin-left: auto;
margin-right: auto;
width: 100%;
background-color: #dad7d7;
height: 35px;



}
.dropdown{

 /* background-image: url('img/arrow_down.png'); 
background-repeat: no-repeat; */
    width:138px;color:black;margin-top:0;border:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../img/arrow_down.png) 41% 53% no-repeat #22282C;
background-size:16px;
max-height:200px;
font-weight:600;
height: 34px;
padding: 6px;
font-size: 15px;
margin-left: 46%;
margin-right: 50%;
background-color: #dad7d7;
border: none;
}

#div1{

align-content: center;
width: 95%;
/*    margin-left: auto;*/
/*    margin-right: auto;*/
margin-top: 12px;
}



.divr{

height: 200px;
background-color: white;
width: 100%;
/*    margin-left: 2%;*/


}
.borderv{
border:1.5px solid #dad7d7 !important;
}
.divr1
{
height:150px;
background-color: white;
color: black;
width: 100%;
border: none;


margin-bottom: 15%;
}
#btnb1{
border:1.5px solid #dad7d7;

}

.btnc{
background-color: #dad7d7;
margin-left: 20%;
width: 60%;
margin-top: 80px;


}



#btnb1:hover{
background-color:#dad7d7;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
/*border: 1px solid white;*/

    /*required for proper track sizing in FF*/
max-width: 100% ;
height: 125px !important;

}
input[type=range]::-webkit-slider-runnable-track {
width:100%;
height: 7.8px;
background: #ddd;
border: none;
border-radius: 3px;
margin-right:40px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
border: none;
height: 76px;
width: 76px;
border-radius: 50%;
/*background: #dad7d7;*/
margin-top: -35px;
}
input[type=range]:focus {
outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
background: #ccc;
}

input[type=range]::-moz-range-track {
width: 300px;
height: 5px;
background: #ddd;
border: none;
border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
border: none;
height: 16px;
width: 16px;
border-radius: 50%;
background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
outline: 1px solid white;
outline-offset: -1px;
}

input[type=range]::-ms-track {
width: 300px;
height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
border-color: transparent;
border-width: 6px 0;

    /*remove default tick marks*/
color: transparent;
}
input[type=range]::-ms-fill-lower {
background: #777;
border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
background: #ddd;
border-radius: 10px;
}
input[type=range]::-ms-thumb {
border: none;
height: 16px;
width: 16px;
border-radius: 50%;
background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
background: #888;
}
input[type=range]:focus::-ms-fill-upper {
background: #ccc;
}


/* activity week style */
.bar_chart_list{ width: 100%; float: left; display: block; padding: 0; margin: 0; list-style: none; margin-top: 20px}
.bar_chart_list li{border-top: 1px solid #222222; padding:0 10px; width: 100%; float: left; margin-top: 10px;}
.bar_chart_list li .title{ padding:10px 0; color: #999; font-size: 16px;  line-height: 40px; border-bottom: 1px solid #000000; width: 100%; float: left; vertical-align: middle; text-transform: uppercase}
.bar_chart_list li .title span { color: #ffffff}
.bar_chart_list li .title small{ font-size:10px; text-transform: none; color: #ffffff }
.bar_chart_list li .title .left_title,.bar_chart_list li .title .right_title{ float: left; width: 50%;}
.bar_chart_list li .title .right_title{ text-align: right}
.bar_chart_list li .chart_block{ width: 100%; float: left }
.bar_chart_list li .highcharts-container {width: 100% !important;}
.bar_chart_list li .title .left_title img{ float: left; max-width: 40px; margin-right: 5px;}
.bar_chart_list li .title .left_title .twolinestitle { float: left; line-height: 18px; padding: 2px 0}
.bar_chart_list li .title .right_title img{ float: right; max-width: 40px; margin-right: 5px;}
.bar_chart_list li .title .right_title .twolinestitle { float: right; line-height: 18px; padding: 2px 0}
